<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226806720021-kefahuh91ogll6hilginu07i7urgsh7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226806720021-kefahuh91ogll6hilginu07i7urgsh7b</string>
	<key>API_KEY</key>
	<string>AIzaSyD-6vOwbEIXcaFGTBmAwkAcGyP6dqcJM-U</string>
	<key>GCM_SENDER_ID</key>
	<string>226806720021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.topsapp.tctwspeed</string>
	<key>PROJECT_ID</key>
	<string>central-twspeed-telecom</string>
	<key>STORAGE_BUCKET</key>
	<string>central-twspeed-telecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226806720021:ios:9a87439bce6de1b498501c</string>
	<key>DATABASE_URL</key>
	<string>https://central-twspeed-telecom.firebaseio.com</string>
</dict>
</plist>
