<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TWSpeed Telecom</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>br.com.topsapp.tctwspeed</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>af60af5434619285841698cbeb69e2318e6b1a48</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Permitir acessar a galeria para enviar foto para nossos servidores para que possamos te identificar como cliente e analisar os procedimentos corretamente.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Permitir o uso do Bluetooth para podermos fornecer um melhor serviço</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Permitir o uso do Calendario para podermos fornecer um melhor serviço</string>
	<key>NSCameraUsageDescription</key>
	<string>
        Permitir o envio das fotos para os nossos servidores para que possamos te identificar como cliente e analisar os procedimentos corretamente.
    </string>
	<key>NSContactsUsageDescription</key>
	<string>Permitir o uso dos Contatos para podermos fornecer um melhor serviço</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Permitir o uso do Face ID para facilitar seu Login.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Permitir o uso da localização para podermos fornecer um melhor serviço</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permitir usar a localização para podermos fornecer um melhor serviço</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permitir o envio de videos para nossos servidores para que possamos te identificar como cliente e analisar os procedimentos corretamente.</string>
	<key>NSMotionUsageDescription</key>
	<string>Permitir o uso do Sensor de movimento para podermos fornecer um melhor serviço</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string> Permitir o envio das fotos para os nossos servidores para que possamos te identificar como cliente e analisar os procedimentos corretamente.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Permitir o uso do Reconhecimento de fala para podermos fornecer um melhor serviço</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>firebase_crashlytics_collection_enabled</key>
	<string>false</string>
</dict>
</plist>
